Repository munirmardinli/alertmanager-gotify, changes with the labels that .github/labeler.yml gives for each.
All labels: type: bug, type: documentation, type: dependencies, ci: github-actions

.github/labeler.yml:

'type: bug':
  - 'src/index.ts'

'type: documentation':
  - '**/*.md'

'type: dependencies':
  - 'package.json'
  - 'package-lock.json'

'ci: github-actions':
  - '.github/workflows/**'

chore: Add codeql workflow
  .github/workflows/codeql.yml
Labels: ci: github-actions

chore: Add PR for prod
  .github/workflows/producation.yml
  .gitignore copy
  .gitlab-ci.yml
  CHANGELOG.md
Labels: type: documentation, ci: github-actions

docs: Add label for Dockerfile
  .github/Dockerfile
  .github/workflows/producation.yml
Labels: ci: github-actions

add linter and renovate
  .github/Dockerfile
  .github/workflows/dockerlint.yml
  .github/workflows/linting.yml
  .github/workflows/renovate.yml
  .github/workflows/semantic-pr.yml
  .hadolint.yaml
  renovate.json
Labels: ci: github-actions

fix: Bug fix docler-label
  .github/Dockerfile
  .github/workflows/dockerlint.yml
  .github/workflows/linting.yml
  .hadolint.yaml
Labels: ci: github-actions

fix: Bug fix docler-label
  .github/Dockerfile
  .github/workflows/dockerlint.yml
Labels: ci: github-actions

fix: Bug fix label name
  .github/Dockerfile
  .github/workflows/development.yml
  .github/workflows/labeler.yml
  .github/workflows/qualityAssurance.yml
  .github/workflows/renovate.yml
  .github/workflows/semantic-pr.yml
Labels: ci: github-actions

fix: Latest label change
  .github/Dockerfile
Labels: none

feat: Add postman collection
  .github/workflows/postman.yml
  .hadolint.yaml
  alertmanager-gotify.postman_collection.json
Labels: ci: github-actions

fix: Fix docker-compose and readme image
  .github/workflows/postman.yml
  README.md
  server.yml
Labels: type: documentation, ci: github-actions

fix: Bug fix .env.example hyperlint
  README.md
Labels: type: documentation

chore: Add document tags for dotenv
  README.md
  dotenv.d.ts
  tsconfig.json
Labels: type: documentation

chore: Add document tags for dotenv
  dotenv.d.ts
Labels: none

fix: Bug fix CodeQl Workflow
  .github/workflows/codeql.yml
  package.json
Labels: type: dependencies, ci: github-actions

chore: Bug fix deprecated version
  .github/workflows/codeql.yml
Labels: ci: github-actions

chore: Bug fix deprecated version
  package.json
Labels: type: dependencies

chore: Bug fix deprecated version II
  .github/workflows/codeql.yml
  package.json
Labels: type: dependencies, ci: github-actions
